/* pages/search/search.css */
.searchContainer {
  padding: 0 20px;
}
/* 头部 */
.header {
  display: flex;
  height: 60px;
  line-height: 60px;
  padding: 10px 0;
}
.searchInput {
  position: relative;
  flex: 1;
  background: rgb(237, 237, 237, 0.3);
  border-radius: 30px;
}
.clear {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 30px;
  z-index: 10;
}
.searchInput input {
  margin-left: 55px;
  height: 60px;
}
.placeholder {
  font-size: 28px;
}
.cancle {
  width: 80px;
  text-align: center;
}
.searchIcon {
  position: absolute;
  left: 15px;
  font-size: 40px;
}
/* 热搜榜 */
.hotContainer .title {
  font-size: 30px;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #eee;
}
.hotList {
  display: flex;
  flex-wrap: wrap;
}
.hotItem {
  width: 50%;
  height: 80px;
  line-height: 80px;
  font-size: 26px;
}
.hotItem .order {
  margin: 0 10px;
}
.hotItem .iconImg {
  width: 35px;
  height: 20px;
  margin-left: 10px;
}
/* 搜索结果区域 */
.searchContent {
  color: rgb(147, 166, 229);
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  border-bottom: 1px solid #d43c33;
}
.searchItem {
  height: 80px;
  line-height: 80px;
  display: flex;
}
.searchItem .content {
  flex: 1;
  margin-left: 20px;
  border-bottom: 1px solid #eee;
}
/* 历史记录 */
.history {
  position: relative;
  display: flex;
  flex-flow: wrap;
  margin: 20px 0;
  align-items: center;
}

.history .title {
  font-size: 28px;
  height: 50px;
  line-height: 50px;
}
.history .historyItem {
  font-size: 26px;
  height: 50px;
  line-height: 50px;
  background: #ededed;
  margin-left: 20px;
  padding: 0 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.history .delete {
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-size: 36px;
}
